<div class="contact">
  <div class="container">

    <app-info-box [imgIcon]="'assets/img/about.png'" [title]="'CONTACT'" [textTemplate]="text"></app-info-box>

  </div>
</div>

<ng-template #text>
  <div class="text-center">
    <div class="mb-20">
      <a href="mailto:divante@divante.pl">divante@divante.pl</a>
    </div>

    <div class="mb-20">
      <div>tel. 123 - 456 - 789</div>
      <div>tel. 887 - 236 - 324</div>
    </div>

    <div>
      ul. Dmowskiego 17<br>
      00-000 Wrocław
    </div>
  </div>

</ng-template>
