<div class="about">
  <div class="container">

    <app-info-box [imgIcon]="'assets/img/about.png'" [title]="'ABOUT'" [textTemplate]="text"></app-info-box>

  </div>
</div>

<ng-template #text>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam purus est, placerat sed ante vel, ultrices congue augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam purus est, placerat sed ante vel, ultrices congue augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</ng-template>
