<div class="details">

  <div class="details__img-wrapper">
    <img class="details__img" src="assets/img/product.jpg" alt="product">
  </div>

  <div class="details__description">

    <div class="details__title">Title</div>

    <div class="row">
      <div class="col-12 col-md-7">
        <div class="details__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam purus est, placerat sed ante vel, ultrices congue augue. Lorem ipsum dolor sit amet, consectet purus est, placerat sed ante vel, ultrices congue augue.</div>
      </div>
      <div class="col-12 col-md-5">
        <div class="flex-center-h">
          <button class="btn btn--green">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>

</div>
