<div class="details">

  <div class="details__img-wrapper">
    <img class="details__img" src="{{product?.thumbnailUrl}}" alt="product">
  </div>

  <div class="details__description">

    <div class="details__title">{{product?.title}}</div>

    <div class="row">
      <div class="col-12 col-md-7">
        <div class="details__text">{{product?.description}}</div>
      </div>
      <div class="col-12 col-md-5">
        <div class="flex-center-h">
          <button class="btn btn--green {{addedToCart ? 'added' : ''}}" (click)="addToCart(product)">{{addedToCart ? 'Added' : 'Add to Cart'}}</button>
        </div>
      </div>
    </div>
  </div>

</div>
