@import "abstracts/color";
@import "abstracts/functions";

.details{

  &__img-wrapper {
    text-align: center;
  }

  &__img {
    max-width: 100%;
  }

  &__description {
    background: $light-blue;
    color: $white;
    padding: rem(35px) rem(50px);
  }

  &__title {
    font-size: rem(18px);
    font-weight: bold;
    margin-bottom: rem(15px);
  }

  &__text {
    font-size: rem(13px);
    text-align: justify;
    opacity: 0.8;
  }
}
