@import "abstracts/color";

.btn {
  border: none;
  padding: 10px 30px;
  cursor: pointer;
  text-align: center;

  &--green {
    color: $white;
    background: $accent;
    font-weight: bold;
  }

  &.added {
    background: rgba(47, 218, 127, 0.47);
  }
}
