<header class="header">
  <div class="container">

    <div class="header__content">
      <img class="logo" src="assets/img/logo.png" alt="logo" [routerLink]="['/']">

      <div class="header__collapse" (click)="toggleMenu()">
        <div class="header__collapse-icon"></div>
      </div>

      <ul #headerList class="header__list">
        <ng-container *ngFor="let item of menuList; let i = index">
          <li class="header__item"
              [routerLink]="[item.url]"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}">{{item.name}}</li>
        </ng-container>
        <li>
          <img class="header__item" src="assets/img/search.svg" alt="">
        </li>
      </ul>
    </div>

  </div>
</header>
