<div class="cart-box">

  <div class="cart-box__element">
    <div class="cart-box__element-title">
      <img class="cart-box__element-img" src="assets/img/contact.svg" alt="contact icon">
      Contact
    </div>
    <p class="cart-box__element-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam purus est, placerat sed ante vel, ultrices congue augue.</p>
  </div>

  <div class="cart-box__element mt-30">
    <div class="cart-box__element-title">
      <img class="cart-box__element-img" src="assets/img/cart.svg" alt="cart icon">
      Cart
    </div>
    <div class="cart-box__element-cart">
      <div class="center-abs-vh">
        Cart is empty
      </div>
    </div>
  </div>

</div>
